@import url("./colors.css");

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  color: #8da9d1;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: transparent;
  color: #8da9d1;
  padding: 0px 0px;
  margin: 0;
  border-radius: 15px;
}

.modules-left {
  padding-left: 5px;
  padding-top:5px;
}

.modules-right {
  padding-right: 5px;
  padding-top:5px;
}
.modules-center {
  padding-top:5px;
}

#custom-wofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#pulseaudio,
#pulseaudio.muted,
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  background: #243b4d;
  border-radius: 2px;
}

#window,
#pulseaudio,
#pulseaudio.muted,
#clock {
  padding-right: 4px;
  margin: 5px 0px;
}

#custom-wofi {
  border-radius: 50px;
  background: #243b4d;
  padding: 3px 20px 6px;
  color:#8da9d1;
  margin: 5px 0px;
}

#workspaces {
  margin: 0px;

}

#workspaces button {
  color: #8da9d1;
  background: #243b4d;
  border: none;
  min-width: 30px;
  padding: 0 4px;
  border-radius:50px;
  margin: 5px 3px;
}

#workspaces button:hover {
  background: #243b4d;
  min-width: 45px;
  border-radius: 50px;
}

#workspaces button.visible {
  border: none;
  border-radius: 50px;
  background: #243b4d;
}

#workspaces button.visible:hover {
  border: none;
  border-radius: 50px;
  background: #243b4d;
}

#workspaces button.active {
  border: none;
  border-radius: 50px;
  min-width: 40px;
  background: #243b4d;
}

#workspaces button.active:hover {
  border: none;
  border-radius: 50px;
  background: #243b4d;
}

#workspaces button.urgent {
  border: none;
  border-radius: 12px;
  background: #ea6962;
}


#window {
  color: #8da9d1;
  background: #243b4d;
  border-radius:50px;
  padding: 5px 20px 6px;
  margin: 5px 0px;
}


#pulseaudio {
  color: #8da9d1;
  background: #243b4d;
  border-radius:50px;
  padding: 5px 20px 6px;
  margin: 5px 0px;
}

#pulseaudio.muted {
  color: #ea6962;
  background: #243b4d;
  border-radius:50px;
  padding: 5px 20px 6px;
  margin: 5px 0px;
}


#clock.time {
  color: #8da9d1;
  background: #243b4d;
  padding: 5px 20px 6px;
  border-radius:50px;
  margin: 5px 0px;
}

#mpris {
  color: #282828;
  border: 2px solid #242b33;
  background: #8da9d1;
  padding: 5px 20px 6px;
  border-radius:50px;
  margin: 5px 0px;
}

#custom-notification {
  color: #8da9d1;
  font-size: 14px;
  background: #242b33;
  padding: 2px 2px;
}
#bluetooth,#custom-wifi {
  background:#243b4d;
  border-radius:50px;
  padding: 5px 15px 8px;
  margin: 5px 0px;
}
