@import url("./dracula.css");

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  color: @purple;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: transparent;
  color: @purple;
  padding: 0px 0px;
  margin: 0;
  border-radius: 15px;
}

.modules-left {
  padding-left: 5px;
  padding-top:5px;
}

.modules-right {
  padding-right: 5px;
  padding-top:5px;
}
.modules-center {
  padding-top:5px;
}

#pulseaudio.muted,
#clock {
  padding-right: 4px;
  margin: 5px 0px;
}

#custom-wofi {
  border-radius: 50px;
  background: #243b4d;
  padding: 3px 20px 6px;
  color:#8da9d1;
  margin: 5px 0px;
}

#workspaces {
  margin: 0px;
}

#workspaces button {
  color: @purple;
  background: @background;
  border: none;
  min-width: 30px;
  padding: 0 4px;
  border-radius:50px;
  margin: 5px 3px;
}

#workspaces button:hover {
  color: @purple;
  background: @selection;
  min-width: 45px;
  border-radius: 50px;
}

#workspaces button.visible {
  border: none;
  border-radius: 50px;
  color: @purple;
  background: @background;
}

#workspaces button.visible:hover {
  border: none;
  border-radius: 50px;
  color: @purple;
  background: @pink;
}

#workspaces button.active {
  border: none;
  border-radius: 50px;
  min-width: 40px;
  color: @purple;
  background: @comment;
}

#workspaces button.urgent {
  border: none;
  border-radius: 12px;
  color: @purple;
  background: @selection;
}


#window {
  color: @purple;
  background: @background;
  border-radius:50px;
  padding: 5px 20px 6px;
  margin: 5px 0px;
}


#pulseaudio {
  color: @purple;
  background: @background;
  border-radius:50px;
  padding: 5px 20px 6px;
  margin: 5px 0px;
}

#pulseaudio.muted {
  color: @red;
  background: @background;
  border-radius:50px;
  padding: 5px 20px 6px;
  margin: 5px 0px;
}


#clock.time {
  color: @purple;
  background: @background;
  padding: 5px 20px 6px;
  border-radius:50px;
  margin: 5px 0px;
}

#mpris {
  color: @purple;
  border: 2px solid #242b33;
  background: @background;
  padding: 5px 20px 6px;
  border-radius:50px;
  margin: 5px 0px;
}

#bluetooth {
  color: @purple;
  background:@background;
  border-radius:50px;
  padding: 5px 15px 8px;
  margin: 5px 0px;
}
